<!-- <link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/> -->
<section id='shoptree-Nav'>
  <div class="container-fluid">
    <div class="flex">
      <div class='' id=''>
        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#shoptree-Nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
        <div class="logo text-center" >
          <a routerLink='/' mat-raised-button>
         <mat-icon>home</mat-icon>Shopping Hub
       
          </a>
          <div>Powered by India</div>
        </div>
      </div>
      <div class='w50p'>
        <form [formGroup]='searchData' (ngSubmit)='gosearch($event)'>

      
        <div class="search-bar">
          <!-- <select name="cat" id="" class="form-control width-select-auto">
            <option>All</option>
          </select> -->
          <!-- <ion-auto-complete></ion-auto-complete> -->
          <mat-form-field class="example-full-width">
            <!-- <mat-label>Favorite food</mat-label> -->
            <input matInput value="" formControlName='search'>
          </mat-form-field>
   <!-- <input class="form-control display-inline form-control-md example-full-auto" placeholder="Search"> -->
   <!--routerLink='/list' <input type="submit" text="search" value="Go" class="btn btn-warning  btn-no-style" id='goSearch' > -->
    
           
            <button mat-fab color="" type='submit'>
              <mat-icon>search</mat-icon>
            </button>
       
        </div>
      </form>
      </div>
      <div class=''>
        <a *ngIf='!userIsAuthed'  routerLink='/signup'  mat-raised-button='primary'><mat-icon>account_circle</mat-icon> Sign Up</a>
        <a *ngIf='!userIsAuthed'  routerLink='/login'  mat-raised-button='primary'><mat-icon>shopping_cart</mat-icon> Login</a>
        <div class="myaccount">
         <a *ngIf='userIsAuthed'  routerLink='/admin' mat-raised-button='primary'> {{userlogin}}
         </a>   
         <span *ngIf='userIsAuthed'>
          <button  mat-raised-button color="primary" (click)='logout()'>Logout</button>
         </span>
       
        </div>
      </div>
      <div class="">


      </div>
    </div>
  </div>
</section>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
