<div class='tab-content'>
  <div class='row'>
    <form class="example-form "   (submit)='newinventForm($event)' [formGroup]='userdata' >
    <div class="col-md-4 col-xs-12">
      <div class="imagearea avatar-upload"  (click)='upload($event)'  >
        <img class="" id='preview' src="https://748073e22e8db794416a-cc51ef6b37841580002827d4d94d19b6.ssl.cf3.rackcdn.com/not-found.png" alt="upload" style="">
        <input class="" type="file" id="uploadImage" accept=".png, .jpg, .jpeg" (change)='onFileChange($event)'  formControlName='imageurl'>
        <label class='edit avatar-edit'>

        </label>
      </div>

    </div>
    <div class="col-md-6 col-xs-12">
  <h4>Add New Product</h4>

    <!-- <mat-form-field class="example-full-width">
      <mat-label>Company (disabled)</mat-label>
      <input matInput disabled value="Google">
    </mat-form-field> -->

    <table class="example-full-width" cellspacing="0">
      <tr>
      <td>
        <mat-form-field class="example-full-width">
        <mat-label>Product Name</mat-label>
        <input matInput formControlName='productname'  required>
      </mat-form-field>
    </td>

    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
        <mat-label>Kunnil </mat-label>
        <input matInput formControlName='storeid'   disabled value='Kunnil' placeholder="Kunnil">
      </mat-form-field>
    </td>
    </tr>
    <!-- categories needed -->
    <tr>
      <td>
        <mat-form-field class='example-full-width'>
          <mat-label>Product Id</mat-label>
          <input matInput formControlName='productid' required>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Quantity Available</mat-label>
          <input matInput formControlName='quant'  required>
        </mat-form-field>

      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Remaining Available</mat-label>
          <input matInput formControlName='remaining'  required>
        </mat-form-field>

      </td>
    </tr>
    <tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Common Barcode</mat-label>
        <input matInput placeholder="Enter Barcode common for the product" formControlName='barcode'  required>
      </mat-form-field></td>
    </tr>
    <tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Price/ Per Product</mat-label>
        <input matInput placeholder="Enter per unit Price" formControlName='price' required>
      </mat-form-field></td>
    </tr>
    <!-- <tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Product Image</mat-label>
        <input matInput placeholder="Image url" value="" formControlName='imageurl'  required>

      </mat-form-field></td>
    </tr> -->
  </table>

  <div class="example-button-row text-center">
  <button mat-raised-button color="primary" type='submit'>Add New Product</button>
  </div>





    </div>


</form>
</div>
