<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <div class="loginForm">
          <h2>Login</h2>
     
          <form class="example-form" (submit)='onLogin(loginform) ' #loginform='ngForm'>
     
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput ngModel type='email'  name='email' placeholder='Email Id' #emailInput='ngModel' required>
              <mat-error *ngIf='emailInput.invalid'>Please enter valid email</mat-error>
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
             <input matInput  name='password' ngModel type='password' #passwordInput='ngModel'  required>
          <mat-error *ngIf='passwordInput.invalid'>Please enter valid password</mat-error>
            </mat-form-field>
            <div class="example-button-row">
           
              <button mat-raised-button color="primary" type='submit'>Login</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>
