<div class='dash'>
  <div class="cardDataChart">
    <div class="row">
      <div class="col-md-12">
        <h2>Top Sold Item</h2>
        <p>Loreum pic chat is coming sooon please qwait</p>
      </div>
    </div>
  </div>
  <div class="cardDataChart">
    <div class="row">
      <div class="col-md-12">
        <h2>Top Sold Item</h2>
        <p>Loreum pic chat is coming sooon please qwait</p>
      </div>
    </div>
  </div>
  <div class="cardDataChart">
    <div class="row">
      <div class="col-md-12">
        <h2>Top Sold Item</h2>
        <p>Loreum pic chat is coming sooon please qwait</p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class='container-fluid'>
  <div class='row'>
    <div class="col-md-12 col-xs-12 col-sm-12">
      <nav class='navbar'>
        <ul>
          <li routerLink='dashboard' routerLinkActive='active'>Dashboard</li>
          <li routerLink='engagement' routerLinkActive='active'>Engagement</li>
          <li routerLink='addproduct' routerLinkActive='active'>Add New Product</li>
          <li routerLink='updateinventory' routerLinkActive='active'>Edit or Update Inventory</li>
          <li routerLink='statusinventory' routerLinkActive='active'>Status Inventory</li>
        </ul>
      </nav>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12 col-xs-12'>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

