.example-full-width{width:100%}
.tab-content{
  background: white;
  padding: 15px;
}
.tableresult:hover{
  transform: translate3d(0,-4px,0);
  box-shadow: 0 12px 30px 0 rgba(0,0,0,.2);
  transition-property: box-shadow,transform;
  transition-duration: 600ms;
  transition-timing-function: cubic-bezier(.16,1,.29,.99);
  padding:10px;
}
.tableresult{
  border:1px solid #cdcdcd;
  cursor:pointer;
}
td, th {
  padding: 6px;
  border: 1px solid #cdcdcd;
}
th {
 font-weight: 500;
}
img{
  width: 117px;
    object-fit: cover;
}
