
.totalamt{
  border-top: 1px solid #e5e5e5;
    font-size: 11px;
}
/* .totalamt td{
  font-size: 1;
} */
.tot{
  text-align:right;
}
.orderHead{
  font-size: 23px;
    font-weight: 300;
    text-align: center;

}
.portal{

  font-size: 11px;
  color:#333;
  text-align:center;
  line-height: 17px;
}
.checkoutform{
  background: #fafafa;
  border-radius: 4px;
}
.checkoutform tr td {
  text-align: center;
  padding: 8px;
  font-size: 19px;
  width: 33.333%;
  vertical-align: baseline;
}
.priceTag {
  font-size: 11px;
    font-weight: 500;
    COLOR: #16d287;
}
.cartdatasum{
  position: relative;
  bottom: 20px;
  /* background: #43264E; */
  width: 300px;
  background: #fdc649;
  color: #000;
  padding: 21px 5px;
  z-index: 99;
text-align: center;
margin: 0 auto;
  border-radius: 40px;
  /* color: white; */
  text-align: center;
cursor: pointer;
  transition: all 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.example-form table{
  width: 100%;
}
.mat-form-field {
  display: block;
  position: relative;
  text-align: left;
}
