<section class="main-header-page">
<div class="">

  <div class="bg-image">
    <div class="flex-list">
      <div class="page">
        <div class="card-header">
          <span><h3>Grocery essentials</h3></span>
        </div>
        <div class="card-body">
          <div class="category">
            <div class="item">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Grocery/GW/QC/186x116_4._SY116_CB420001917_.jpg">
              <h4>Cooking Utensils</h4>
            </div>
            <div class="item">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Grocery/GW/QC/186x116_4._SY116_CB420001917_.jpg">
              <h4>Cooking Utensils</h4>
            </div>
            <div class="item">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Grocery/GW/QC/186x116_4._SY116_CB420001917_.jpg">
              <h4>Cooking Utensils</h4>
            </div>
            <div class="item">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Grocery/GW/QC/186x116_4._SY116_CB420001917_.jpg">
              <h4>Cooking Utensils</h4>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span><a href="#">See more</a></span>
        </div>
      </div>
      <div class="page">
        <div class="card-header">
          <span><h3>Grocery essentials</h3></span>
        </div>
        <div class="card-body">
          <div class="category">
            <div class="item">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Grocery/GW/QC/186x116_4._SY116_CB420001917_.jpg">
              <h4>Cooking Utensils</h4>
            </div>
            <div class="item">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Grocery/GW/QC/186x116_4._SY116_CB420001917_.jpg">
              <h4>Cooking Utensils</h4>
            </div>
            <div class="item">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Grocery/GW/QC/186x116_4._SY116_CB420001917_.jpg">
              <h4>Cooking Utensils</h4>
            </div>
            <div class="item">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Grocery/GW/QC/186x116_4._SY116_CB420001917_.jpg">
              <h4>Cooking Utensils</h4>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span><a href="#">See more</a></span>
        </div>
      </div>
      <div class="page">
        <div class="card-header">
          <span><h3>Grocery essentials</h3></span>
        </div>
        <div class="card-body">
          <div class="category">
            <div class="item">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Grocery/GW/QC/186x116_4._SY116_CB420001917_.jpg">
              <h4>Cooking Utensils</h4>
            </div>
            <div class="item">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Grocery/GW/QC/186x116_4._SY116_CB420001917_.jpg">
              <h4>Cooking Utensils</h4>
            </div>
            <div class="item">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Grocery/GW/QC/186x116_4._SY116_CB420001917_.jpg">
              <h4>Cooking Utensils</h4>
            </div>
            <div class="item">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Grocery/GW/QC/186x116_4._SY116_CB420001917_.jpg">
              <h4>Cooking Utensils</h4>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span><a href="#">See more</a></span>
        </div>
      </div>
      <div class="page">
        <div class="card-header">
          <span><h3>Grocery essentials</h3></span>
        </div>
        <div class="card-body">
          <div class="category">
            <div class="item">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Grocery/GW/QC/186x116_4._SY116_CB420001917_.jpg">
              <h4>Cooking Utensils</h4>
            </div>
            <div class="item">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Grocery/GW/QC/186x116_4._SY116_CB420001917_.jpg">
              <h4>Cooking Utensils</h4>
            </div>
            <div class="item">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Grocery/GW/QC/186x116_4._SY116_CB420001917_.jpg">
              <h4>Cooking Utensils</h4>
            </div>
            <div class="item">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Grocery/GW/QC/186x116_4._SY116_CB420001917_.jpg">
              <h4>Cooking Utensils</h4>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span><a href="#">See more</a></span>
        </div>
      </div>
    </div>
  </div>

</div>
</section>
