<div class='dash'>
  <div class="cardDataChart">
    <div class="row">
      <div class="col-md-12">
        <h2>Top Sold Item</h2>
        <p>Loreum pic chat is coming sooon please qwait</p>
      </div>
    </div>
  </div>
  <div class="cardDataChart">
    <div class="row">
      <div class="col-md-12">
        <h2>Top Sold Item</h2>
        <p>Loreum pic chat is coming sooon please qwait</p>
      </div>
    </div>
  </div>
  <div class="cardDataChart">
    <div class="row">
      <div class="col-md-12">
        <h2>Top Sold Item</h2>
        <p>Loreum pic chat is coming sooon please qwait</p>
      </div>
    </div>
  </div>
</div>
